.Collection {
  margin-bottom: 80px;

  .heading {
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
    color: var(--text-color);
    @media (max-width: 600px) {
      font-size: 25px;
    }
  }
  .collectionSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    .collectionCard {
      background: var(--bg-home-card);
      border-radius: 14px;
      padding: 20px;
      width: 32%;

      @media screen and (max-width: '1200px') {
        width: 48%;
      }

      @media screen and (max-width: '680px') {
        width: 100%;
      }

      .card {
        display: flex;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: flex-end;
      }

      .collectionAvatar {
        width: 58px;
        height: 58px;
        margin-left: 5px;
      }

      .count {
        color: var(--text-color);
        font-size: 18px;
      }

      .title {
        flex-grow: 1;
        color: var(--text-color);
      }

      .numbers {
        color: var(--text-color);
        opacity: 80%;
        font-size: 16px;
        font-weight: normal;
      }
      .green {
        color: #5ac62f;
      }
      .red {
        color: #ff4747;
      }
    }
  }

  .bottom {
    text-align: center;
    margin-top: 50px;

    a {
      text-decoration: none;
    }
    button {
      color: #000;
      font-family: 'Visby CF Bold';
      box-shadow: none;
    }
  }
}
