.searchWrapper {
  background: var(--bg-lightGray);
  height: 45px;
  display: flex;
  align-items: center;
  border-radius: 25px;
  padding: 10px 20px;
  margin-bottom: 20px;
  .searchIcon {
    color: #828282;
    width: 20px;
    height: 20px;
    path {
      fill: #828282;
    }
  }
  .searchInput {
    width: 100%;
    margin-left: 10px;

    input {
      width: 100%;
      color: var(--text-color);
      font-size: 12px;
      font-family: 'Visby CF Demi Bold';
      &::placeholder {
        color: var(--text-color);
      }
    }
  }

  .searchCancel {
    fill: var(--text-color);
  }
}
.loadMoreWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  .loadMoreButton {
    text-align: center;
    height: 48px;
    border-radius: 39px !important;
    margin-top: 10px;
    min-width: 270px;
    max-width: 100%;
    height: 55px;
    font-weight: 600;
    font-size: 19px;
    padding: 20px 0;
    background-color: var(--text-color);
    color: var(--bg-white);

    &:hover {
      background-color: var(--text-color);
      color: var(--bg-white);
    }
  }
}
