.descriptionWrapper {
  margin-top: 30px;
  .title {
		font-size: 14px;
		font-family: "Visby CF Bold";
		color: var(--text-color);
		margin-bottom: 8px;

    svg {
      fill: var(--text-color);
    }
  }
  .description {
    color: var(--text-color);
    font-size: 1rem;
    opacity: 0.6;
    font-weight: 500;
    margin-bottom: 15px;
    font-family: "Visby CF Bold";
  }
  .actionsWrapper {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    .actionBtn {
      border-radius: 5px;
      font-size: 13px;
      padding: 10px 15px;
      font-family: "Visby CF Bold";
    }
    .grayBtn {
      background-color: rgba(209, 209, 209, 0.38);
      color: var(--text-color);
      font-family: "Visby CF Bold";
      height: 36px;
      flex-grow: 1;
      .btnLogo {
        height: 22px;
        width: 22px;
        border-radius: 50%;
        object-fit: cover;
        margin-left: 5px;
      }
    }
    .purpleBtn {
      background-color: rgba($color: #ab7ced, $alpha: 0.3);
      color: #ab7ced;
      height: 36px;
      font-family: "Visby CF Bold";
      flex-grow: 2;
    }
    .redBtn {
      background-color: #e8c4c7;
      color: #ff0000;
      height: 36px;
      font-family: "Visby CF Bold";
      flex-grow: 3;
    }
    .greenBtn {
      background-color: #43f195;
      color: #000000;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 0.875rem;
      width: 100%;
      font-family: "Visby CF Bold";
    }
    .chatTime {
      display: flex;
      align-items: center;
      gap: 5px;
      font-family: "Visby CF Bold";
    }
  }
	.description {
		color: var(--text-color);
		font-size: 1rem;
		opacity: 0.6;
		font-weight: 500;
		margin-bottom: 15px;
		font-family: "Visby CF Medium";
	}
	.actionsWrapper{
		display: flex;
		justify-content: space-between;
		gap: 10px;
		flex-wrap: wrap;

    a {
      text-decoration: none;
    }
    
		.actionBtn{
			border-radius: 5px;
			font-size: 13px;
			padding: 10px 15px;
			font-family: "Visby CF Bold";
		}
		.grayBtn {
			background-color: rgba(209,209,209,0.38);
			color: var(--text-color);
			font-family: "Visby CF Medium";
			height: 36px;
			flex-grow: 1;
			.btnLogo{
				height: 22px;
				width: 22px;
				border-radius: 50%;
				object-fit: cover;
				margin-left: 5px;
			}
		}
		.purpleBtn{
			background-color: rgba($color: #AB7CED, $alpha: 0.3);
			color: #AB7CED;
			height: 36px;
			font-family: "Visby CF Bold";
			flex-grow: 2;
		}
		.redBtn{
			background-color: #E8C4C7;
			color: #FF0000;
			height: 36px;
			font-family: "Visby CF Bold";
			flex-grow: 3;
		}
		.greenBtn{
			background-color: #43F195;
			color: #000000;
			display: flex;
			justify-content: space-between;
			align-items: center;
			font-size: 0.875rem;
			width: 100%;
			font-family: "Visby CF Bold";
		}
		.chatTime {
			display: flex;
			align-items: center;
			gap: 5px;
			font-family: "Visby CF Bold";
		}
	}

  .CountDown {
    background-color: var(--text-color);
    padding: 5px 15px;
    border-radius: 5px;
    width: 100%;

    span {
      line-height: 20px;
    }

    .timeLeftText {
      color: var(--bg-white);
      font-family: "Visby CF Bold";
      font-size: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 5px;

      svg {
        font-size: 20px;
      }
    }

    .countDownBox {
      display: flex;
      gap: 5px;

      .times {
        color: var(--bg-white);
        font-size: 16px;
        font-family: "Visby CF Bold";
      }

      .text {
        color: var(--bg-white);
        font-size: 12px;
      }

      .colun {
        color: var(--bg-white);
        font-size: 16px;
      }

      div {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
