.createCollectionWrapper {
    padding: 45px 10px;
  .pageTitle {
    font-size: 2.5rem;
    color: var(--text-color);
    margin-bottom: 30px;
    font-family: "Visby CF Extra Bold" !important;
  }
}
